<%- include('../header') %>
<div class="unix-login">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="login-content">
                    <div class="login-form">
                        <h4>Product</h4>
                        <form method="post" action="/productAdd" enctype="multipart/form-data">
                            <div class="form-group mb-4">
                                <label>Category </label>
                                <select name="category" class="form-control">
                                    <option>-----  select category  -----</option>
                                    <%categorydata.map((val)=>{%>
                                    <option value="<%=val.id%>"><%=val.category%></option>
                                    <%})%>
                                </select>
                            </div>
                            <div class="form-group mb-4">
                                <label>SubCategory </label>
                                <select name="subcategory" class="form-control">
                                    <option>-----  select subcategory  -----</option>
                                    <%subcategorydata.map((val)=>{%>
                                     <option value="<%=val.id%>"><%=val.subcategory%></option>
                                    <%})%>
                                </select>
                            </div>
                            <div class="form-group"> 
                                <label>Product name </label>
                                <input type="text" class="form-control"
                                    name="product">
                            </div>
                            <div class="form-group"> 
                                <label>Image </label>
                                <input type="file" class="form-control"
                                    name="image">
                            </div>
                            <div class="form-group"> 
                                <label>Qty </label>
                                <input type="text" class="form-control"
                                    name="qty">
                            </div>
                            <div class="form-group"> 
                                <label>Price </label>
                                <input type="text" class="form-control"
                                    name="price">
                            </div>
                            <div class="form-group"> 
                                <label>Description </label>
                                <input type="text" class="form-control"
                                    name="description">
                            </div>
                            <input type="submit"
                                class="btn btn-primary btn-flat m-b-30 m-t-30">
                        </form>
                    </div>
                    <a href="/product" class="btn btn-primary mx-2 mt-3">
                        product</a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../footer') %>
